{% extends "base.html" %}

{%block title%} Comments page {%endblock%}

{% block content %}
<style>
    .profile-image{
        border-radius: 50%;
        height: 3rem;
        border: 1px solid black;
    }
    .view-comments{
        max-height: 40vh;
        overflow: hidden;
    }
    .card-img-top{
        height: 5rem;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

</style>
<div class="card card-inner mb-5 mt-2 post">
    <div class="card-header">
        <a href="{{ url_for('profile', username=post.user.username) }}">
            <img class="profile-image" src="{{ url_for('static', filename='profile/' + post.user.profile_image) }}">
            <span>{{ post.user.username }}</span>
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        {% if post.image %}
        <img src="{{ url_for('static', filename='posts/' + post.image) }}" class="card-img-top"
             alt="{{ post.title | safe }}">
        {% endif %}
        <p class="card-text mt-3 text-secondary" style="font-size: 16px;"><strong>Caption:</strong> {{ post.caption | safe }}
        </p>

    </div>
    <div class="card-footer" style="flex: fit-content">

        <span>
                    {% if post.last_updated %}
                    <small class="text-muted" style="text-align: end">Last updated on:
                        {{ post.last_updated.replace(tzinfo=timezone('UTC')).astimezone(timezone('Asia/Kolkata')).strftime("%d-%m-%Y") }}
                    </small>
                    {% else %}
                    <small class="text-muted" style="text-align: end">Created on:
                        {{ post.timestamp.replace(tzinfo=timezone('UTC')).astimezone(timezone('Asia/Kolkata')).strftime("%d-%m-%Y") }}
                    </small>
                    {% endif %}
                    </span>
    </div>
</div>
<h6 >View all comments({{ post.comments.count() }}) : </h6>

<div class="d-flex flex-column view-comments">

    <div class="existing-comments">
        {% for comment in comments %}

        <div class="card card-inner mb-2">
            
                <div class="card-header d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('profile', username=comment.user.username) }}">
                        <img class="profile-image" src="{{ url_for('static', filename='profile/' + comment.user.profile_image) }}">
                        <span>{{ comment.user.username }}</span>
                    </a>
                    
                    {% if comment.last_edited %}
                    <small class="text-muted">Last edited on : {{ comment.last_edited.replace(tzinfo=timezone('UTC')).astimezone(timezone('Asia/Kolkata')).strftime("%d-%m-%Y") }}</small>
                    
                    {% else %}
                    <small class="text-muted">Comment on : {{ comment.timestamp.replace(tzinfo=timezone('UTC')).astimezone(timezone('Asia/Kolkata')).strftime("%d-%m-%Y") }}</small>
                    {% endif %}

                </div>
            
                <div class="card-body">
                    <p>{{ comment.content }}</p>
                </div>

            
            {% if current_user == comment.user %}
            <div class="comment-actions">
                <div class="card-footer d-flex justify-content-end">
                    <a href="{{ url_for('edit_comment', post_id=post_id, comment_id=comment.id) }}"
                        class="btn btn-outline-primary btn-sm">Edit</a>
                    
                    <a href="{{ url_for('delete_comment', post_id=post_id, comment_id=comment.id) }}" class="btn btn-outline-danger btn-sm ml-2">Delete</a>
                    
                </div>
                
            </div>
            {% elif current_user.username == "ADMIN_USER" %}
            <div class="card-footer d-flex justify-content-end">

                <a href="{{ url_for('delete_comment', post_id=post_id, comment_id=comment.id) }}" class="btn btn-outline-danger btn-sm ml-2">Delete</a>

            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="add-comment-form-sticky-bottom">
            <hr>

        <form method="POST" action="{{ url_for('comment', post_id=post_id) }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.content.label }}
                {{ form.content(class="form-control" ,width="50%") }}
            
                {% for error in form.content.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            
            <div class="form-group">
                <input type="submit" value="Add Comment" class="btn btn-warning">
            </div>
        </form>
    </div>
</div>

{% endblock %}