{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}
<div style="margin-left: -17.84vw; width: 100vw">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand text-warning" href="#">CareerConnect</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" style="font-size: 17px;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register" style="font-size: 17px;">Register</a>
                </li>
            </ul>
    </div>
</nav>
<br>
<br>

    <div class="container-fluid bg-light py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title">Login Page</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Fill this form to login to your account.</p>
                        <hr>

                        <form method="POST" action="{{ url_for('login') }}" class="needs-validation" novalidate>
                            {{ form.csrf_token }}

                            <div class="form-group">
                                {{ form.username.label }}
                                {{ form.username(class="form-control", placeholder="Enter username", required=True) }}
                                <div class="invalid-feedback">{{ form.username.errors[0] }}</div>
                            </div>

                            <div class="form-group">
                                {{ form.password.label }}
                                {{ form.password(class="form-control", placeholder="Enter password", required=True) }}
                                <div class="invalid-feedback">{{ form.password.errors[0] }}</div>
                            </div>

                            <div class="form-group">
                                {{ form.submit(class="btn btn-warning btn-block") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
